@font-face {
  font-family: HeliosC;
  src: url('./assets/fonts/heliosc.otf');
}

@font-face {
  font-family: HeliosLightC;
  src: url('./assets/fonts/Helioslightc.otf');
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #181717;
}

button,
input {
  border: 0;
  outline: 0;
}

body {
  font-family: HeliosC;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #181717;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 999;
}

.nav-container {
  padding: 10px 33px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  background: #894083;
  border-radius: 0 0 25px 25px;
}

.menu-list {
  display: flex;
  column-gap: 48px;
  flex-wrap: wrap;
}

.menu-list li,
.social-list li {
  display: flex;
  column-gap: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-list li:hover,
.social-list li:hover {
  color: rgba(255, 255, 255, 0.5);
}

.social-list {
  display: flex;
  column-gap: 54px;
  flex-wrap: wrap;
}

@media (max-width: 885px) {
  .social-list,
  .menu-list {
    flex-direction: column;
  }
}

.menu-list li:first-child::after {
  content: url('./assets//svg/arrow-down.svg');
  position: relative;
  bottom: 2px;
  cursor: pointer;
}

.header-row-container {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-row-container p {
  width: 208px;
  height: 55px;
  text-align: center;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  color: #828282;
}

.header-row-container input {
  padding: 13px 13px 13px 50px;
  width: 760px;
  height: 52px;
  background: #F4F4F4;
  border-color: transparent;
  border-radius: 50px;
}

@media (max-width: 815px) {
  .header-row-container input {
    width: 100%;
  }
}

.header-row-container input::placeholder {
  font-family: Montserrat;
  font-weight: normal;
  color: #000000;
}

.search {
  position: relative; 
  top: 10px;
  left: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.close-search {
  position: relative; 
  top: 10px;
  right: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.search:before {
  content: url('./assets/svg/search.svg');
}

.close-search:before {
  content: url('./assets/svg/close.svg');
}

.favourites {
  display: flex;
  column-gap: 14px;
  align-items: center;
  transition: 0.3s;
}

.favourites:hover {
  text-decoration: underline;
}

.favourites img {
  width: 36px;
  transition: 0.3s;
}

.violet-svg:hover {
  filter: brightness(0) saturate(100%) invert(63%) sepia(59%) saturate(4681%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.cart {
  display: flex;
  column-gap: 8px;
  align-items: center;
  transition: 0.3s;
}

.cart:hover {
  text-decoration: underline;
}

.cart img {
  transition: 0.3s;
}

main {
  background-image: url('./assets/svg/bg.svg');
  background-repeat: no-repeat;
  background-position: bottom 58px right 120px;
}

.main-slider {
  width: 100%;
  max-height: 800px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .main-slider {
    max-height: 600px;
  }
}

@media (max-width: 768px) {
  .main-slider {
    max-height: 400px;
  }
}

@media (max-width: 420px) {
  .main-slider {
    max-height: 300px;
  }
}

.main-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px !important;
}

.main-slider .slick-prev {
  left: 50px !important;
  width: 56px !important;
  height: 43px !important;
  z-index: 99 !important;
}

.main-slider .slick-prev:before {
  content: url('./assets/svg/arrow-prev.svg') !important;
  font-size: 43px !important;
}

.main-slider .slick-next {
  right: 51px !important;
  width: 56px !important;
  height: 43px !important;
  z-index: 99 !important;
}

.main-slider .slick-next:before {
  content: url('./assets/svg/arrow-next.svg') !important;
  font-size: 43px !important;
}

.main-slide {
  position: relative;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-weight: bold;
  font-size: 64px;
  color: #FFFFFF;
}

.promo-block {
  margin: 49px 0 0;
}

h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  line-height: 22px;
  color: #894083;
}

.promo-slider {
  margin: 71px auto 0;
  width: 83%;
}

@media (max-width: 1600px) {
  .promo-slider {
    width: 83%;
  }
}

.promo-slide {
  width: 309px !important;
  cursor: pointer;
}

.visible-part {
  padding: 15px; 
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.08));
  background: #FFFFFF;
  border-radius: 22px 0px;
}

.promo-slide-img {
  margin: 0 auto;
  height: 185px;
}

.promo-slider .slick-prev {
  left: -137px !important;
  top: 200px !important;
  width: 56px !important;
  height: 43px !important;
  z-index: 99 !important;
}

.promo-slider .slick-prev:before {
  content: url('./assets/svg/arrow-prev.svg') !important;
  font-size: 43px !important;
  filter: brightness(0) saturate(100%) invert(63%) sepia(59%) saturate(4681%) hue-rotate(1deg) brightness(105%) contrast(105%) !important;
}

.promo-slider .slick-next {
  right: -137px !important;
  top: 200px !important;
  width: 56px !important;
  height: 43px !important;
  z-index: 99 !important;
}

.promo-slider .slick-next:before {
  content: url('./assets/svg/arrow-next.svg') !important;
  font-size: 43px !important;
  filter: brightness(0) saturate(100%) invert(63%) sepia(59%) saturate(4681%) hue-rotate(1deg) brightness(105%) contrast(105%) !important;
}

.slick-track {
  display: flex !important;
  column-gap: 30px;
}

.slick-dots {
  position: relative !important;
  bottom: 70px !important;
}

.slick-dots li.slick-active button:before {
  color: #FF8700 !important;
}

.card-row-first,
.cost-row {
  display: flex;
  justify-content: space-between;
}

.promo-slide-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.promo-slide-header div {
  padding: 3px 13px 1px 10px;
  border-radius: 16px 0px;
}

.yellow-marker {
  width: 93px;
  background-color: #FDCA33;
}

.green-marker {
  width: 73px;
  background-color: #8DC63F;
}

.blue-marker {
  background-color: #00C2CE;
}

.favorite {
  width: 26px;
  visibility: hidden;
}

.favorite.active {
  background-image: url('./assets/svg/heart-fill.svg');
  background-repeat: no-repeat;
}

.availability {
  font-weight: normal;
  font-size: 14px;
  color: #894083;
}

.code {
  font-family: HeliosLightC;
  font-weight: 300;
  font-size: 14px;
  color: #828282;
}

.card-description {
  margin: 12px 0 32px 0;
  font-weight: normal;
  color: #181717;
}

.cost span:first-child {
  margin-right: 6px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.cost span:last-child {
  font-family: HeliosLightC;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-decoration-line: line-through;
  color: #828282;
}

.cost-row img {
  width: 36px;
  height: 36px;
}

.add-container {
  padding: 0 20px 17px;
  visibility: hidden;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.08));
  background: #FFFFFF;
  border-radius: 0 0 22px;
}

.range-row {
  padding: 20px 14px 0;
  display: flex;
  justify-content: space-between;
}

.range-row span:first-child,
.range-row span:last-child {
  color: #894083;
  cursor: pointer;
}

.range-row span:first-child:hover,
.range-row span:last-child:hover {
  color: #FF8600;
}

.range-row span:nth-child(2) {
  font-family: HeliosC;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
}

.btn-row {
  display: flex;
  justify-content: space-between;
}

.btn-row button {
  padding: 12px 16px;
  border: 1px solid #894083;
  font-family: HeliosC;
  font-weight: bold;
  border-radius: 50px;
}

.btn-row button:first-child {
  color: #894083;
  background: #ffffff;
}

.btn-row button:first-child:hover {
  color: rgba(137, 64, 131, 0.5);
  border: 1px solid rgba(137, 64, 131, 0.5);
}

.btn-row button:last-child {
  color: #ffffff;
  background: #894083;
}

.btn-row button:last-child:hover {
  background: rgba(137, 64, 131, 0.5);
}

.form-block {
  padding-bottom: 87px;
}

h3 {
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  color: #894083;
}

.form-inputs-container {
  display: flex;
  column-gap: 97px;
}

@media (max-width: 385px) {
  .form-inputs-container {
    column-gap: 30px;
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.radio-label {
  position: relative;
  padding-left: 12px;
}

.checkbox-label {
  position: relative;
  padding-left: 12px;
}

.checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  color: #BDBDBD;
}
.checkbox-input+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #BDBDBD;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.checkbox-input:checked+label {
  color: #181717;
}

.checkbox-input:checked+label::before {
  border-color: #FF8600;
  background-color: #FF8600;
  background-image: url("./assets/svg/checkmark.svg");
}

.radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.radio-input+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #828282;
  border-radius: 50%;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.radio-input:checked+label::before {
  background-image: url("./assets/svg/ellipse150.svg");
}
