@font-face {
  font-family: HeliosC;
  src: url('./heliosc.otf');
}

@font-face {
  font-family: HeliosLightC;
  src: url('./Helioslightc.otf');
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #181717;
}

button,
input {
  border: 0;
  outline: 0;
}

body {
  font-family: HeliosC;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #181717;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 999;
}

.nav-container {
  padding: 10px 33px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  background: #894083;
  border-radius: 0 0 25px 25px;
}

.menu-list {
  display: flex;
  column-gap: 48px;
  flex-wrap: wrap;
}

.menu-list li,
.social-list li {
  display: flex;
  column-gap: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-list li:hover,
.social-list li:hover {
  color: rgba(255, 255, 255, 0.5);
}

.social-list {
  display: flex;
  column-gap: 54px;
  flex-wrap: wrap;
}

.menu-list li:first-child::after {
  content: url('./assets//svg/arrow-down.svg');
  position: relative;
  bottom: 2px;
  cursor: pointer;
}

.header-row-container {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-row-container p {
  width: 208px;
  height: 55px;
  text-align: center;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  color: #828282;
}

.header-row-container input {
  padding: 13px 13px 13px 50px;
  width: 760px;
  height: 52px;
  background: #F4F4F4;
  border-color: transparent;
  border-radius: 50px;
}

.header-row-container input::placeholder {
  font-family: Montserrat;
  font-weight: normal;
  color: #000000;
}

.search {
  position: relative; 
  top: 10px;
  left: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.close-search {
  position: relative; 
  top: 10px;
  right: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.search:before {
  content: url('./assets/svg/search.svg');
}

.close-search:before {
  content: url('./assets/svg/close.svg');
}

.favourites {
  display: flex;
  column-gap: 14px;
  align-items: center;
  transition: 0.3s;
}

.favourites:hover {
  text-decoration: underline;
}

.favourites img {
  width: 36px;
  transition: 0.3s;
}

.violet-svg:hover {
  filter: brightness(0) saturate(100%) invert(63%) sepia(59%) saturate(4681%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.cart {
  display: flex;
  column-gap: 8px;
  align-items: center;
  transition: 0.3s;
}

.cart:hover {
  text-decoration: underline;
}

.cart img {
  transition: 0.3s;
}

main {
  background-image: url('./assets/svg/bg.svg');
  background-repeat: no-repeat;
  background-position: bottom 58px right 120px;
}

.main-slider {
  width: 100%;
  max-height: 800px;
  overflow: hidden;
}

.main-slide {
  background-size: cover;
  background-position: 100%;
  height: 800px !important;
}

.main-slider .slick-prev {
  left: 50px !important;
  width: 56px !important;
  height: 43px !important;
  z-index: 99 !important;
}

.main-slider .slick-prev:before {
  content: url('./assets/svg/arrow-prev.svg') !important;
  font-size: 43px !important;
}

.main-slider .slick-next {
  right: 51px !important;
  width: 56px !important;
  height: 43px !important;
  z-index: 99 !important;
}

.main-slider .slick-next:before {
  content: url('./assets/svg/arrow-next.svg') !important;
  font-size: 43px !important;
}

.promo-block {
  margin: 49px 0 131px 0;
}

h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  line-height: 22px;
  color: #894083;
}

.promo-slider {
  margin: 71px auto 0;
  width: 83%;
}

.promo-slide {
  margin-bottom: 37px;
  padding: 15px; 
  width: 309px !important;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.08));
  background: #FFFFFF;
  border-radius: 22px 0px;
}

.promo-slide-img {
  margin: 0 auto;
  height: 185px;
}

.promo-slider .slick-prev {
  left: -137px !important;
  width: 56px !important;
  height: 43px !important;
  z-index: 99 !important;
}

.promo-slider .slick-prev:before {
  content: url('./assets/svg/arrow-prev.svg') !important;
  font-size: 43px !important;
  filter: brightness(0) saturate(100%) invert(63%) sepia(59%) saturate(4681%) hue-rotate(1deg) brightness(105%) contrast(105%) !important;
}

.promo-slider .slick-next {
  right: -137px !important;
  width: 56px !important;
  height: 43px !important;
  z-index: 99 !important;
}

.promo-slider .slick-next:before {
  content: url('./assets/svg/arrow-next.svg') !important;
  font-size: 43px !important;
  filter: brightness(0) saturate(100%) invert(63%) sepia(59%) saturate(4681%) hue-rotate(1deg) brightness(105%) contrast(105%) !important;
}

.slick-track {
  display: flex !important;
  column-gap: 30px;
}

.slick-dots li.slick-active button:before {
  color: #FF8700 !important;
}

.card-row-first,
.cost-row {
  display: flex;
  justify-content: space-between;
}

.availability {
  font-weight: normal;
  font-size: 14px;
  color: #894083;
}

.code {
  font-family: HeliosLightC;
  font-weight: 300;
  font-size: 14px;
  color: #828282;
}

.card-description {
  margin: 12px 0 32px 0;
  font-weight: normal;
  color: #181717;
}

.cost span:first-child {
  margin-right: 6px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.cost span:last-child {
  font-family: HeliosLightC;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-decoration-line: line-through;
  color: #828282;
}

.cost-row img {
  width: 36px;
  height: 36px;
}

.form-block {
  padding-bottom: 93px;
}

h3 {
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  color: #894083;
}

.form-inputs-container {
  display: flex;
  column-gap: 97px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.radio-label {
  position: relative;
  padding-left: 12px;
}

.checkbox-label {
  position: relative;
  padding-left: 12px;
}
